footer
	width 100%
	max-width 1600px
	background-color #f04c74
	margin 0 auto
.footer_content_wrap
	width 100%
	max-width 978px
	background-color #f04c74
	margin 0 auto
	display flex
	justify-content space-between
	padding-top 50px
	padding-bottom 50px
	position relative
	color #fff

.footer_content
	width 100%
	max-width 326px
	text-align center
	span
		font-size 1.2rem
		font-weight 600
	.footer_links
		width 100%
		li
			display inline-block
			&:not(:nth-child(1))
				padding-left 14px
			a
				display block
				i
					display block
					transition all 0.4s ease-out 0s
					line-height 46px
					width 46px
					height 46px
					border-radius 50%
					background #e33861
					text-align center
.footer_content_left
	text-align left
	span:first-child
		margin-left -15px

.footer_content_center
	text-align left
	padding-left 11%
		
.footer_content_right
	text-align left
	padding-left 8%
	a
		color #fff
		font-size 0.9rem
		font-weight 600
		margin 0
.top_content
	padding-bottom 24px

.bottom_content
	line-height 1.4
	span
		font-size 1rem

.footer_content_right_rules
	line-height 1.3
	span
		font-size 0.8rem
		font-weight normal