.container
	width 100%
	max-width 978px
	margin 0 auto
	
.top_header
	height 50px
	width 100%
	max-width 978px
	margin 0 auto
	 
.top_header_links
	display flex
	flex-direction row
	justify-content space-between		
	li
		//display inline-block
		line-height 50px
		margin-left -.36em
		&:first-child 
			margin-left 0
		&.top_header_icons
			text-align center
			background-color #ce365a
			width 230px
			height 50px
			font-size 0.9em
			font-weight 550
			
	a
		color #fff
		text-transform uppercase
		vertical-align middle
		text-align center
		font-weight bold
		span 
			color #ffa3b9
			font-size 0.9em	
		
		&.top_header_links_schedule
			padding-right 10px
			&:before
				content ""
				display block
				background url("../img/icons/schedule1.png") no-repeat
				width 32px
				height 32px
				float left
				margin 8px 0 0 18px
		&.top_header_links_phone
			width 260px
		&.top_header_links_call
			padding-right 20px
			&:before
				content ""
				display block
				background url("../img/icons/call.png") no-repeat
				width 32px
				height 32px
				float left
				margin 8px 0 0 30px		
.phone1
	padding-left 62px
.phone2
	padding-right 62px