.menu_wrapper
	height 142px
	width 100%
	padding-top 17px
	display flex
    flex-direction row
    justify-content flex-start
    align-items flex-end
.logo
	width 292px
	position relative
	img
		position absolute
		bottom 0
.menu
	width 686px
	padding-top 31.8px
	ul
		display flex
		flex-direction row
		justify-content space-between		
		align-items flex-end
		text-align center
		a
			position relative
			color #5b5b5b
			text-transform uppercase
			font-size 0.8rem
			display block
			&:before
				content ""
				background linear-gradient(to bottom, #ebebeb 0%, #ddd 100%)
				//transition all 0.2s ease
				position absolute
				top: 58px
				left 50%
				width 50px
				height 10px
				margin-left -25px
				border-radius 50%
				z-index -9
			&:hover span
				color #e34168
			&:hover i
				position relative
				top -20px
				background #e34168
			&:hover:before
				content ""
				background linear-gradient(to bottom, #ebebeb 0%, #ddd 100%)
				position absolute
				top: 58px
				left 50%
				width 40px
				height 8px
				margin-left -20px
				border-radius 50%
			i
				display block
				transition all 0.4s ease-out 0s
				line-height 60px
				width 60px
				height 60px
				border-radius 50%
				background #1cc0d1
				margin auto
				margin-bottom 22px
			span
				 display block