.slider_news
	position relative	
	padding-top 38px
	width 100%
	max-width 978px
	margin 0 auto
	color white
.text_news
	position absolute
	width 100%
	top 30%
	left -20px
	max-width 396px
	background-color rgba(220, 56, 95, 0.9)
	height 228px
	z-index 5
	text-align left
	padding 25px 40px 0px 40px
	a
		color white
		p
			font-size 2.2rem
			font-weight bold
			letter-spacing 1px
			line-height 1.1
			padding-bottom 20px
		span
			display block
			padding-bottom 20px
			line-height 1.5
.slider
	img 
		height 400px
		width 100%
.slider_nav
	display inline-block
.slider_nav_next
	.bx-next
		float right
		display block
		height 26px
		width 11px
		background url("../img/icons/next.png")
.slider_nav_prev
	margin-right 20px
	.bx-prev
		float left
		display block
		height 26px
		width 11px
		background url("../img/icons/prev.png")
		


.actions
	width 100%
	max-width 1600px
	margin 0 auto
	margin-bottom 40px
	color white
	text-align center
	background url("../img/content/mountain.jpg")
	background-size cover
	background-position 0% 97%
	h1
		font-size 2.0rem
		font-weight bold
		color #626161

.ski_man
	background url("../img/content/ski.png")
	height 183px
	width 168px
	position absolute
	right 0
	bottom 50px
	z-index 3
	animation move 5s infinite
	animation-timing-function linear
		
.wrapper_actions
	width 100%
	max-width 978px
	margin 0 auto
	display flex
	flex-direction row
	justify-content space-between
	.common_actions
		background url("../img/content/finish.png")
		height 289px
		width 245px
		position relative
		span
			position absolute
			left 10px
			top 15px
			font-size 2.2rem
			font-weight bold
			transform skewY(-10deg)
		p
			display flex
			align-items center
			justify-content center
			margin-top 36px
			height 86px
			transform skewY(-10deg)
			a
				color white
				font-size 1.1rem
				font-weight bold
				&:hover
					text-decoration underline
	.action_one
		margin-top 73px
	.action_two
		margin-top 50px
	.action_three
		margin-top 27px
		
@keyframes move
	from
		right 0px
		bottom 50px
	to
		right 100%
		bottom 0px
		

.about_you
	width 100%
	max-width 1600px
	margin 0 auto
	color white
	text-align center
	background linear-gradient(to bottom, #fff, #f0f9fa)
.about_you_wrapper
	width 100%
	max-width 978px
	margin 0 auto
	h1
		font-size 2.0rem
		font-weight bold
		color #626161
		margin-bottom 10px
	h2
		font-size 1.2rem
		font-weight normal
		color #626161
		margin-bottom 45px
	.calculator
		width 100%
		max-width 978px
		margin 0 auto
		height 396px
		background-color #1cbeda
		border-radius 5px
		padding 50px
		margin-bottom 48px
		table
			margin 0 auto
			width 100%
			font-weight bold
			font-size 1.2rem
			tr
				width 100%
				padding-bottom 40px
				display flex
				align-items center
			td:first-child
				max-width 212px
				width 100%
				text-align right
			td:last-of-type
				width 100%
				max-width none
				text-align center
				button
					max-width 250px
					width 100%
					height 55px
					background-color transparent
					border 2px #fff solid
					border-radius 3px
					color #fff
					font-weight bold
					font-size 1.2rem
					&:hover
						background-color #41edff					
			td:not(:nth-child(1))
				width 70%
				padding-left 13px
				display flex
				justify-content flex-start
				align-items center
				span
					margin-right 20px
				input[type=text]
					width 80px
					height 42px
					background-color #12a9c4
					text-align center
					color #fff
					border 1px #0d9bbd solid
					border-radius 3px
					margin-left -.36em
					&:first-child 
						margin-left 0
				p:not(:nth-child(1))
					padding-left 35px
				button
					height 40px
					width 180px
					background-color transparent
					border 2px #41edff solid
					border-radius 20px
					margin-right 20px
					color #fff
					font-weight bold
					font-size 1rem
					&.actived
						background-color #fff
						color #1cbeda
						border none
						&:hover
							color #626161
					&:hover:not(.actived)
						background-color #41edff
	
	.distance_wrapper
		max-width 370px
		width 100%
		background-color #ffffff	
		height 145px
		margin 0 auto
		padding 6px
		border-radius 3px
		position relative
		// &:before
		// 	content ""
		// 	background url("../img/content/stolb.png") center no-repeat
		// 	position absolute
		// 	bottom 0
		// 	left 15%
		// 	margin-right 10px
		// 	width 272px
		// 	height 78px
		.distance
			border 5px #d3eff2 solid
			border-radius 3px
			height 100%
			color #959595
			padding 35px
			text-align left
			line-height 1.2
			p:first-child
				font-size 1.4rem
				letter-spacing 0.2px
				font-weight 550
			p:last-child
				font-size 1.1rem
				span
					font-size 1.2rem
					color #1bbbd9
					font-weight bold
	.stolb
		background url("../img/content/stolb.png") center no-repeat
		max-width 978px
		width 100%
		height 78px
		margin 0 auto
		position relative
		&:before
			content ""
			background url("../img/content/man.png") center no-repeat
			position absolute
			bottom 0px
			left 0
			width 154px
			height 155px			

	// .row_calc
	// 	width 100%
	// 	padding-bottom 40px
	// 	display flex
	// 	justify-content flex-start
	// 	align-items center
	// 	font-weight bold
	// 	font-size 1.2rem
	// 	.p_title
	// 		max-width 212px
	// 		width 100%
	// 		text-align right
	// 	p
	// 		input[type=text]
	// 				width 80px
	// 				height 42px
	// 				background-color #12a9c4
	// 				text-align center
	// 				color #fff
	// 				border 1px #0d9bbd solid
	// 				border-radius 3px
	// 		button
	// 				height 40px
	// 				width 180px
	// 				background-color transparent
	// 				border 2px #41edff solid
	// 				border-radius 20px
					