footer
	.footer_content_wrap
		.footer_content.footer_content_left
			.footer_content_left_club.top_content
				span &copy; 2015, Фитнес-клуб "Максима"
			.footer_content_left_contacts.bottom_content Барнаул, ул Лазурная, 7 <br> Отдел продаж: 
				span 28-30-28 <br>
				| Рецепция: 
				span 28-30-28
		.footer_content.footer_content_center
			.footer_content_center_work.top_content
				span Режим работы
			.footer_content_center_workhour.bottom_content Пн-Пт: 
				span 7:00 - 22:00 <br>
				| Сб 
				span 8:00 - 22:00 <br>
				| Вс 
				span 9:00 - 21:00
		.footer_content.footer_content_right
			.footer_content_right_social_link
				ul.footer_links
					li
						a(href="javascript:void(0);") 
							i.circle_link
								img(src ="img/icons/vk.png")
					li
						a(href="javascript:void(0);")
							i.circle_link
								img(src ="img/icons/facebook.png")
					li
						a(href="javascript:void(0);")
							i.circle_link
								img(src ="img/icons/ok.png")
					li
						a(href="javascript:void(0);")
							i.circle_link
								img(src ="img/icons/youtube.png")
			.footer_content_right_rules.bottom_content <br> <br>
				a(href="javascript:void(0);") Правила клуба 
				span (Публичная оферта)