header
		.container
			.top_header
				ul.top_header_links
					li.top_header_icons
						a(href="javascript:void(0);").top_header_links_schedule расписание занятий
					li
						a(href="javascript:void(0);").top_header_links_phone.phone1 
							span +7 3852 
							| 28-30-28
					li
						a(href="javascript:void(0);").top_header_links_phone.phone2
							span +7 3852 
							| 28-30-29
					li.top_header_icons
						a(href="javascript:void(0);").top_header_links_call заказть звонок
