.menu_wrapper
	.logo
		img(src ="img/icons/logo.png")
	.menu
		nav
			ul.navigation
				li
					a(href="javascript:void(0);") 
						i.circle
							img(src ="img/icons/club1.png")
						span наш клуб
				li
					a(href="javascript:void(0);")
						i.circle
							img(src ="img/icons/cards1.png")
						span клубные карты		
				li
					a(href="javascript:void(0);")
						i.circle
							img(src ="img/icons/heart1.png")
						span максима life			
				li
					a(href="javascript:void(0);")
						i.circle
							img(src ="img/icons/team.png")
						span команда	
				li
					a(href="javascript:void(0);")
						i.circle
							img(src ="img/icons/contact1.png")
						span контакты	