extends ../layout/layout
block title
	| Главная страница

block content
	section.slider_news
		.text_news
			a(href="javascript:void(0);") 
				p Карта на полгода <br> за 9900!
				span 21 декабря в фитнес-клубе Максима прошли соревнования по армрестлингу
			.slider_nav
				span.slider_nav_prev
				span.slider_nav_next
		ul.slider
			li
				img(src="img/content/bicycle.jpg")
			li
				img(src="img/content/bicycle.jpg")
			li
				img(src="img/content/bicycle.jpg")
	section.actions
		h1 События декабря
		.ski_man
		.wrapper_actions
			.common_actions.action_one
				span 10
				p
					a(href="javascript:void(0);") Катаемся на лыжах
			.common_actions.action_two
				span 21
				p
					a(href="javascript:void(0);") Турнир <br> по армрестлингу
			.common_actions.action_three
				span 24
				p
					a(href="javascript:void(0);") Новый год в "Максиме"
	section.about_you
		.about_you_wrapper
			h1 Взвесьте себя и узнайте, что делать
			h2 Узнайте, каким должен быть ваш вес, учитывая рост, возраст и род занятий
			.calculator
				table
					tr
						td 
							span Вес:
						td
							p
								input(type="text" placeholder="85 кг")
							p
								span Возраст:
								input(type="text" placeholder="30 лет")
							p
								span Рост:
								input(type="text" placeholder="186 см")
					tr
						td 
							span Кто вы?
						td
							button.first_row_button.actived Мужчина
							button.first_row_button Женщина
					tr
						td 
							span Телосложение:
						td
							button.second_row_button.actived Нормальное
							button.second_row_button Полное
							button.second_row_button Хрупкое
					tr
						td(colspan="2").last_row
							button Расчитать
			.distance_wrapper
				.distance
					p Пока вы находитесь на сайте,
					p человечек уже прошел 
						span 852
						|  м <br> и, между прочим, потратил 
						span 1125
						|  ккал
			.stolb