doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="app/fonts/fonts.css")
		link(rel="stylesheet" type='text/css' href="css/main.css")

		title
			block title
	body
		//- .top_header_wrapper
		//- 	.container
		//- 		.top_header
		//- 			ul.top_header_links
		//- 				li
		//- 					a(href="javascript:void(0);").top_header_links_schedule.top_header_icons расписание занятий
		//- 				li
		//- 					a(href="javascript:void(0);").top_header_links_phone.phone1 
		//- 						span +7 3852 
		//- 						| 28-30-28
		//- 				li
		//- 					a(href="javascript:void(0);").top_header_links_phone.phone2
		//- 						span +7 3852 
		//- 						| 28-30-29
		//- 				li
		//- 					a(href="javascript:void(0);").top_header_links_call.top_header_icons заказть звонок

		.wrapper_head
			include ../modules/header
		.wrapper
			include ../modules/menu
		block content
		include ../modules/footer
		script(src="js/jquery.js")
		script(src="js/libs.min.js")
		script(src="js/main.js")